@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:  local('PT Sans'),
        url('../fonts/ptsans-400.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:  local('PT Sans'),
        url('../fonts/ptsans-700.woff2') format('woff2');
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited, a:hover {
  text-decoration: none;
}

:focus {
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

/* Buttons */

.button {
  display: inline-block;
  padding: 8px 18px;
  min-width: 161px;
  min-height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

.button:hover,
.button:focus{
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled,
.button-add:disabled,
.button-favorite:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

/* Button green add-to-favorite */

.button-add {
  background-color: #82B3D3;
}

.button-add:hover,
.button-add:focus{
  background-color: #68A2CA;
}

.button-add:active {
  background-color: #82B3D3;
}

/* Button in-favorite */

.button-favorite {
  background-color: #7DB54F;
}

.button-favorite:hover,
.button-favorite:focus{
  background-color: #6C9E42;
}

.button-add:active {
  background-color: #7DB54F;
}

/* Button transparent */

.button-transparent {
  background-color: transparent;
}

.button-transparent:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
}

.button-transparent:focus {
  background-color: transparent;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-transparent:disabled {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.1);
}

/* Header */

.logo-main {
  position: relative;
  margin-left: 70px;
  margin-right: 46px;
}

.logo-main-link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 254px;
  padding-right: 70px;
}

.navigation-list {
  display: flex;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
}

.navigation-link-current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
  height: 2px;
  background-color: #756257;
}

.navigation-link:hover {
  opacity: 0.7;
}

.favorite-list {
  display: flex;
  align-items: center;
}

.favorite-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  min-width: 44px;
  min-height: 64px;
}

.favorite-link-search {
  background-image: url(../images/svg/search-icon.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.favorite-link-favorite {
  background-image: url(../images/svg/favorite-icon.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.button-favorite-list {
  margin-left: 20px;
}

.favorite-count {
  position: absolute;
  top: 11px;
  right: 0;
  padding: 5px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  z-index: 1;
}

.favorite-count::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  border-radius: 50%;
  z-index: -1;
}

/* Main */

.main-content {
  max-width: 1200px;
  margin: 0 auto;
}

/* Welcome */

.welcome {
  position: relative;
  padding: 51px 0 82px 0;
  background-image: url(../images/divider.svg),
                    url(../images/index-background.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #333333;
}

.welcome-logo {
  margin: 0 auto;
}

.welcome-content {
  max-width: 651px;
  margin: 0 auto;
  padding: 69px 0 90px;
  text-align: center;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}






/* footer */

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
  background-color: #ffffff;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-social-link {
  display: block;
  min-width: 47px;
  min-height: 47px;
  padding: 13px 12px;
}

.footer-social-link:hover .footer-social-icon {
  fill: #68A2CA;
}

.footer-contact {
  padding: 5px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.footer-contact:hover,
.footer-contact:focus {
  color: #756157;
}

.footer-contact:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-link {
  display: block;
  padding: 5px;
}

.footer-link:hover .footer-link-icon,
.footer-link:focus .footer-link-icon {
  color: #756157;
}

.footer-link:active .footer-link-icon {
  color: rgba(117, 97, 87, 0.3);
}