@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:  local('PT Sans'),
        url('../fonts/ptsans-400.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:  local('PT Sans'),
        url('../fonts/ptsans-700.woff2') format('woff2');
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input, textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited, a:hover {
  text-decoration: none;
}

:focus {
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

/* Buttons */

.button {
  display: inline-block;
  padding: 8px 18px;
  min-height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

.button:hover,
.button:focus{
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled,
.button-add:disabled,
.button-favorite:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

/* Button green add-to-favorite */

.button-add {
  background-color: #82B3D3;
}

.button-add:hover,
.button-add:focus{
  background-color: #68A2CA;
}

.button-add:active {
  background-color: #82B3D3;
}

/* Button in-favorite */

.button-favorite {
  background-color: #7DB54F;
}

.button-favorite:hover,
.button-favorite:focus{
  background-color: #6C9E42;
}

.button-favorite:active {
  background-color: #7DB54F;
}

/* Button transparent */

.button-transparent {
  background-color: transparent;
}

.button-transparent:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
}

.button-transparent:focus {
  background-color: transparent;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-transparent:disabled {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.1);
}

.button-large {
  padding-left: 50px;
  padding-right: 50px;
}

.button-medium {
  padding-left: 34px;
  padding-right: 34px;
}

/* Header */

.logo-main {
  position: relative;
  margin-left: 70px;
  margin-right: 46px;
}

.logo-main-link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 254px;
  padding-right: 70px;
}

.navigation-list {
  display: flex;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
}

.navigation-link-current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
  height: 2px;
  background-color: #756257;
}

.navigation-link:hover {
  opacity: 0.7;
}

.favorite-list {
  display: flex;
  align-items: center;
}

.favorite-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  min-width: 44px;
  min-height: 64px;
}

.favorite-link-search {
  background-image: url(../images/svg/search-icon.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.favorite-link-favorite {
  background-image: url(../images/svg/favorite-icon.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.button-favorite-list {
  margin-left: 20px;
}

.favorite-count {
  position: absolute;
  top: 11px;
  right: 0;
  padding: 5px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  z-index: 1;
}
/* Переделать в просто кружочек!!!!!!!!!!! */
.favorite-count::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  border-radius: 50%;
  z-index: -1;
}

/* Main */

.main-content {
  max-width: 1200px;
  margin: 0 auto;
}

/* Welcome */

.welcome {
  position: relative;
  padding: 51px 0 82px 0;
  background-image: url(../images/divider.svg),
                    url(../images/index-background.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #333333;
}

.welcome-logo {
  margin: 0 auto;
}

.welcome-content {
  max-width: 651px;
  margin: 0 auto;
  padding: 69px 0 90px;
  text-align: center;
}

.main-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.main-text {
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}

.welcome-content .main-text {
  margin-bottom: 0;
}

.welcome-content .main-title {
  margin-bottom: 25px;
}

/* Advantages */

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 384px;
  padding: 80px 85px;
}

.advantages-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-title::after {
  content: '';
  display: block;
  margin: 30px auto 0;
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
}

.advantages-item-main {
  grid-column: 1 / 2;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-image {
  grid-column: 2 / 4;
  padding: 0;
}

.advantages-image-last {
  grid-column: 1 / 3;
}

.advantages-item-main-last {
  grid-column: 3 / 4;
}

.advantages-item-main .advantages-title {
  color: #FFFFFF;
}

.advantages-item-main .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);;
}

ul .advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title-icon::before {
  content: '';
  display: block;
  margin: 0 auto 30px;
  width: 74px;
  height: 74px;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-title-icon::after {
  display: none;
}

.advantages-title-icon.housing::before {
  background-image: url(../images/svg/house-icon.svg);
}

.advantages-title-icon.food::before {
  background-image: url(../images/svg/food-icon.svg);
}

.advantages-title-icon.souvenirs::before {
  background-image: url(../images/svg/souvenirs-icon.svg);
}

/* Search of the hotels */

.search-hotels {
  max-width: 651px;
  margin: 0 auto;
  padding: 96px 0;
  text-align: center;
}

.search-content .button {
  padding-right: 50px;
  padding-left: 50px;
}

/* Subscribe */

.subscribe {
  padding: 96px 0 104px 0;
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscribe-catalog {
  padding: 96px 0 104px 0;
}

.subscribe-content {
  max-width: 684px;
  margin: 0 auto;
  text-align: center;
}

.main-title-subscribe{
  color: #ffffff;
}

.subscribe-form {
  display: flex;
}

.field {
  flex-grow: 1;
  padding: 14px 20px;
  background: #F2F2F2;
  border-radius: 4px 0px 0px 4px;
}

.field::placeholder {
  color: #000000;
  opacity: 0.6;
}

.button-subscribe {
  padding: 8px 50px;
  border-radius: 0px 4px 4px 0px;
}

.main-catalog-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

/* Header-inner */

.header-inner {
  padding: 35px 70px 70px;
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
}


/* Breadcrumbs */

.breadcrumbs {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #ffffff;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 10px;
  top: 7px;
  right: -18px;
  background-image: url(../images/svg/arrow-right-white-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item:last-child .breadcrumbs-link:hover {
  color: #ffffff;
}

.breadcrumbs-link:hover .breadcrumbs-image {
  fill-opacity: 0.6;
}

.breadcrumbs-link:active .breadcrumbs-image {
  fill-opacity: 0.3;
}

/* Filters */


.catalog-filter {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
}

.filter-housing {
  display: flex;
  gap: 70px;
}

.catalog-filter-title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

/* Checkbox, radio */

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.control-mark::before {
  content: '';
  display: none;
  height: 10px;
  width: 10px;
  background-image: url(../images/svg/check-icon.svg);
  background-position: center center;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  display: block;
}

.control-input[type="checkbox"]:focus + .control-mark {
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark {
  background-color: transparent;
  border: 5px solid #ffffff;
}

.control-input[type="radio"]:focus + .control-mark {
  outline: 3px solid #82B3D3;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

/* Range bar */


.filter-price {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 70px;
}

.filter-price .catalog-filter-title {
  grid-column: 1 / -1;
}

.range {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
}

.filter-buttons {
  grid-column: 2 / 3;
  grid-row: 2 / -1;
  display: flex;
  flex-direction: column;
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 36px;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-input {
  max-width: 143px;
  padding: 12px 20px;
  font-weight: 700;
  background: #F2F2F2;
}

.catalog-filter-input:active {
  outline: none;
  border: 2px solid #000;
}

.catalog-filter-input-min {
  margin-right: 2px;
  border-radius: 4px 0px 0px 4px;
}

.catalog-filter-input-max {
  border-radius: 0px 4px 4px 0px;
}

.catalog-filter-label {
  position: relative;
}

.catalog-filter-text {
  position: absolute;
  top: 12px;
  right: 20px;
  color: rgba(0, 0, 0, 0.3)
}

.filter-buttons .button-add {
  margin-bottom: 32px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

.range-toggle-min {
  left: 0;
  top: -8px;
}

.range-toggle-max {
  right: 0;
  top: -8px;
}

/* Catalog */

.catalog {
  padding: 50px 70px 60px;
}

.catalog-header {
  display: flex;
  margin-bottom: 40px;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.sorting-container {
  margin-right: 70px;
  margin-left: auto;
}

.select-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 290px;
  height: 49px;
  padding: 10px 52px 10px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  background-image: url(../images/svg/select-icon.svg);
  background-position: right 20px center;
  background-repeat: no-repeat;
  background-size: 12px;
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.select-control:active {
  border: 2px solid #3F5E72;
  outline: none;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  background-image: url(../images/svg/select-disabled-icon.svg);
}

.toggle-container {
  display: flex;
}

.card-grid-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.card-grid-toggle:last-child {
  margin-right: 0;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
}

.card-grid-toggle:hover {
  border: 2px solid #000000;
}

.card-grid-toggle:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.card-grid-toggle:active {
  border: 2px solid #000000;
  outline: none;
}

/* List of the Hotels */

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.catalog-item-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 18px;
}

.catalog-item-image {
  margin-bottom: 16px;
}

.catalog-item-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.catalog-item-text-price {
  text-align: right;
}

.catalog-item-rating {
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background: #F2F2F2;
  border-radius: 4px;
}

.four-stars {
  display: inline-block;
  background-image:
    url(../images/svg/star-icon.svg),
    url(../images/svg/star-icon.svg),
    url(../images/svg/star-icon.svg),
    url(../images/svg/star-icon.svg);
  background-position: left center, left 24px center, left 48px center, left 72px center;
  background-repeat: no-repeat;
}

.three-stars {
  display: inline-block;
  background-image:
    url(../images/svg/star-icon.svg),
    url(../images/svg/star-icon.svg),
    url(../images/svg/star-icon.svg);
  background-position: left center, left 24px center, left 48px center;
  background-repeat: no-repeat;
}

.two-stars {
  display: inline-block;
  background-image:
    url(../images/svg/star-icon.svg),
    url(../images/svg/star-icon.svg);
  background-position: left center, left 24px center;
  background-repeat: no-repeat;
}


/* Pagination */

.catalog-pagination-list {
  display: flex;
  flex-wrap: wrap;
}

.catalog-pagination-item {
  list-style-type: none;
}

.catalog-pagination-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 8px;
}

.catalog-pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 4px;
}

.catalog-pagination-link-current {
  background: #F2F2F2;
  color: #000000;
}

.catalog-pagination-link.divider {
  background: #FFFFFF;
  color: #000000;
}

/* Footer */

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
  background-color: #ffffff;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-social-link {
  display: block;
  min-width: 47px;
  min-height: 47px;
  padding: 13px 12px;
}

.footer-social-link:hover .footer-social-icon {
  fill: #68A2CA;
}

.footer-contact {
  padding: 5px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.footer-contact:hover,
.footer-contact:focus {
  color: #756157;
}

.footer-contact:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-link {
  display: block;
  padding: 5px;
}

.footer-link:hover .footer-link-icon,
.footer-link:focus .footer-link-icon {
  color: #756157;
}

.footer-link:active .footer-link-icon {
  color: rgba(117, 97, 87, 0.3);
}

/* Modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.modal-container-close {
  display: none;
}

.modal-title {
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.modal-search-hotel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 717px;
  margin: auto;
  padding: 64px 70px;
  background-color: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.button-modal-close {
  position: absolute;
  top: 64px;
  right: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50%;
}

.button-modal-close:hover {
  background-color: #E6E6E6;
}

.button-modal-close:active .button-modal-close-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.modal-search-hotel-group {
  display: grid;
  grid-template-columns: 137px 1fr;
  align-items: center;
  margin-bottom: 4px;
}

.adult-amount {
  margin-right: auto;
}

.modal-search-label {
  position: relative;
  grid-column: 1 / 2;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.date-field {
  grid-column: 2 / -1;
  padding: 12px 56px 12px 20px;
  background: #F2F2F2;
  background-image: url(../images/svg/calendar-icon.svg);
  background-position: right 20px center;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.date-field::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.modal-search-hotel-text {
  margin-left: 157px;
  margin-bottom: 23px;
  font-size: 16px;
  line-height: 21px;
}

.modal-search-hotel-text-invalid {
  color: #FF5757;
}

.modal-search-hotel-amount {
  display: flex;
  margin-bottom: 48px;
}

.amount {
  display: flex;
  grid-column: 2 / -1;
}

.amount-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 48px;
  background-color: #F2F2F2;
}

.amount-button.right {
  border-radius: 0 4px 4px 0;
}

.amount-button.left {
  border-radius: 4px 0 0 4px;
}

.amount-button:hover .amount-icon {
  fill: #000000;
  fill-opacity: 1;
}

.amount-button:active .amount-icon {
  fill: #756157;
  fill-opacity: 0.3;
}

.amount-button:focus {
  outline: none;
  border: 3px solid #82B3D3;
  border-radius: 4px;
}

.amount-field {
  width: 31px;
  height: 48px;
  background-color: #F2F2F2;
  font-weight: 700;
  text-align: center;
}

.amount-field::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.amount-field::-webkit-outer-spin-button,
.amount-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.amount-field:focus {
  outline: none;
}

.button-modal-search {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 20px;
  line-height: 24px;
}

/* tooltip */

.tooltip {
  position: absolute;
  margin-left: 10px;
}

.tooltip-button {
  display: block;
  width: 26px;
  height: 26px;
  background-image: url(../images/svg/tooltip-icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  transition: all 0.5s ease-out;
}

.tooltip-text {
  position: absolute;
  display: none;
  top: 100%;
  left: 50%;
  width: 256px;
  margin-top: 15px;
  padding: 15px 18px 18px 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transform: translateX(-50%);
  z-index: 1;
}

.tooltip-button:hover + .tooltip-text,
.tooltip-button:focus + .tooltip-text {
  display: block;
}

/* стрелка для тултипа */
.tooltip-text:after {
  content:'';
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 19px;
  height: 9px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/svg/tooltip-triangle.svg");
}